a {
  text-decoration: none;
  color: inherit;
  display: inline;
}

.content {
  margin-top: 5em;
}

.container {
  margin-bottom: 50px;
  gap: 50px;
}

.wrapper {
  border: 1px solid #f9f9fb;
  border-radius: 10px;
  background-color: #f9f9fb;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 1.5rem;
  width: 80%;
}

.detail {
  display: inline-block;
}

.articleTitle {
  display: inline-block;
}

.imgContainer {
  display: flex;
}

.image {
  border-radius: 17px;
  width: 300px;
  height: 157px;
}

.textContainer {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.date {
  color: #424242;
}

.author {
  color: #3081d0;
}

.category {
  color: #be3144;
  font-weight: 500;
}

.desc {
  font-size: 0.8;
  font-weight: 300;
  color: var(--softTextColor);
}

.link {
  color: #3081d0;
  font-weight: 600;
  width: max-content;
  padding: 2px 0;
}

@media screen and (max-width: 1280px) {
  .imgContainer {
    display: none;
  }
}
