.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  background-color: #000;
  margin-top: 50px;
  width: 276px;
  height: 172px;
}

.text {
  font-size: 1.4rem;
}

.link:hover {
  color: #c21292;
}
