.container {
  margin-top: 30px;
  max-width: 1526px;
  margin: auto;
}

.title {
  font-size: 3rem;
}

.post {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imgContainer {
  display: flex;
  gap: 44px;
}

.link {
  background-color: #000;
  position: relative;
  text-align: center;
}

.link:hover img {
  opacity: 0.5;
}

.text {
  color: #fff !important;
  font-weight: 700;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.feature {
  height: 38.8vh;
  width: auto;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postTitle {
  font-size: 2rem;
}

.postDesc {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--softTextColor);
}

.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 2.4rem;
  }
  .imgContainer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 2rem;
  }
}
