.nav_container {
  display: flex;
  gap: 10px;
}

.nav_links {
  color: #fff;
}

.nav_links:hover {
  color: #f875aa;
}

.stories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.story {
  margin-top: 50px;
  width: 100%;
  height: auto;
}

.story-text {
  font-size: 1.4rem;
}

.footer {
  color: #fff;
}
